In [27]:
import os

import numpy as np
import pandas as pd
pd.set_option('display.max_rows', 20)
pd.set_option('display.notebook_repr_html', True)
pd.set_option('display.max_columns', 15)

import numpy as np  
from scipy.stats import ttest_ind

from sklearn import linear_model, metrics

import matplotlib.pyplot as plt
%matplotlib inline
plt.style.use('ggplot')

In [28]:
df = pd.read_excel(os.path.join('..', 'final-project', 'Final_Project', 'Lineup_Breakdown.xlsx'), sheetname = 'Total',
                  header = 1)

In [3]:
df

,ID,PlayerName,OffPoss,OffPts,OPPP,DefPoss,DefPts,DPPP,+/-,TotPoss,Position
0,1,Justin,59,57,0.966102,56,52,0.928571,5,115,1
1,1,Phil,59,57,0.966102,56,52,0.928571,5,115,2
2,1,Daniel R,59,57,0.966102,56,52,0.928571,5,115,3
3,1,Brayden,59,57,0.966102,56,52,0.928571,5,115,4
4,1,Travis,59,57,0.966102,56,52,0.928571,5,115,5
5,2,Daniel S,13,15,1.153846,15,13,0.866667,2,28,1
6,2,Evan,13,15,1.153846,15,13,0.866667,2,28,2
7,2,Mike,13,15,1.153846,15,13,0.866667,2,28,3
8,2,Adam,13,15,1.153846,15,13,0.866667,2,28,4
9,2,Bryce,13,15,1.153846,15,13,0.866667,2,28,5
...,...,...,...,...,...,...,...,...,...,...,...
1425,286,KJ,2,2,1.000000,2,2,1.000000,0,4,1
1426,286,Luke,2,2,1.000000,2,2,1.000000,0,4,2
1427,286,Andrew,2,2,1.000000,2,2,1.000000,0,4,3
1428,286,Daniel R,2,2,1.000000,2,2,1.000000,0,4,4
1429,286,Travis,2,2,1.000000,2,2,1.000000,0,4,5
1430,287,Daniel S,3,6,2.000000,3,5,1.666667,1,6,1
1431,287,Justin,3,6,2.000000,3,5,1.666667,1,6,2
1432,287,Mike,3,6,2.000000,3,5,1.666667,1,6,3
1433,287,Adam,3,6,2.000000,3,5,1.666667,1,6,4
1434,287,Brayden,3,6,2.000000,3,5,1.666667,1,6,5

In [3]:
df.isnull().sum().sum()

0

In [3]:
df = df.set_index('ID')

In [16]:
df_2 = df[df.PlayerName == 'Daniel R']
len(df_2.Position.unique())

3

In [36]:
DR3 = df[df.PlayerName == 'Daniel R']
DR3 = DR3[DR3.Position == 3]
DR3

,PlayerName,OffPoss,OffPts,OPPP,DefPoss,DefPts,DPPP,+/-,TotPoss,Position
ID,,,,,,,,,,
1,Daniel R,59,57,0.966102,56,52,0.928571,5,115,3
3,Daniel R,31,41,1.322581,27,33,1.222222,8,58,3
6,Daniel R,12,9,0.750000,13,13,1.000000,-4,25,3
12,Daniel R,94,106,1.127660,99,91,0.919192,15,193,3
15,Daniel R,7,5,0.714286,6,5,0.833333,0,13,3
24,Daniel R,1,0,0.000000,0,0,0.000000,0,1,3
29,Daniel R,8,13,1.625000,8,7,0.875000,6,16,3
32,Daniel R,8,6,0.750000,9,7,0.777778,-1,17,3
33,Daniel R,86,76,0.883721,91,85,0.934066,-9,177,3
41,Daniel R,1,0,0.000000,1,1,1.000000,-1,2,3
...,...,...,...,...,...,...,...,...,...,...
169,Daniel R,12,7,0.583333,13,15,1.153846,-8,25,3
180,Daniel R,2,0,0.000000,2,2,1.000000,-2,4,3
191,Daniel R,4,2,0.500000,5,6,1.200000,-4,9,3
203,Daniel R,1,2,2.000000,0,0,0.000000,2,1,3
247,Daniel R,5,0,0.000000,6,5,0.833333,-5,11,3
257,Daniel R,1,0,0.000000,1,0,0.000000,0,2,3
268,Daniel R,5,2,0.400000,5,5,1.000000,-3,10,3
269,Daniel R,4,8,2.000000,3,2,0.666667,6,7,3
272,Daniel R,7,5,0.714286,6,2,0.333333,3,13,3
285,Daniel R,6,8,1.333333,6,6,1.000000,2,12,3

In [21]:
DR4 = df[df.PlayerName == 'Daniel R']
DR4 = DR4[DR4.Position == 4]
DR4

,PlayerName,OffPoss,OffPts,OPPP,DefPoss,DefPts,DPPP,+/-,TotPoss,Position
ID,,,,,,,,,,
7,Daniel R,13,11,0.846154,13,10,0.769231,1,26,4
13,Daniel R,5,8,1.600000,5,10,2.000000,-2,10,4
16,Daniel R,10,10,1.000000,14,21,1.500000,-11,24,4
20,Daniel R,4,8,2.000000,4,6,1.500000,2,8,4
23,Daniel R,18,18,1.000000,17,19,1.117647,-1,35,4
25,Daniel R,9,5,0.555556,8,2,0.250000,3,17,4
30,Daniel R,13,10,0.769231,12,7,0.583333,3,25,4
37,Daniel R,2,4,2.000000,2,0,0.000000,4,4,4
39,Daniel R,10,10,1.000000,11,12,1.090909,-2,21,4
46,Daniel R,45,52,1.155556,41,42,1.024390,10,86,4
...,...,...,...,...,...,...,...,...,...,...
254,Daniel R,2,0,0.000000,2,2,1.000000,-2,4,4
256,Daniel R,1,0,0.000000,1,1,1.000000,-1,2,4
258,Daniel R,0,0,0.000000,2,0,0.000000,0,2,4
263,Daniel R,2,0,0.000000,2,2,1.000000,-2,4,4
264,Daniel R,2,3,1.500000,1,0,0.000000,3,3,4
266,Daniel R,1,2,2.000000,0,0,0.000000,2,1,4
270,Daniel R,4,3,0.750000,3,3,1.000000,0,7,4
275,Daniel R,1,0,0.000000,1,2,2.000000,-2,2,4
279,Daniel R,3,2,0.666667,2,0,0.000000,2,5,4
286,Daniel R,2,2,1.000000,2,2,1.000000,0,4,4

In [42]:
DR = pd.DataFrame({'Player': ['Daniel_R_3' , 'Daniel_R_4'],
    'OPoss': [DR3.OffPoss.sum() , DR4.OffPoss.sum()],
    'OPts': [DR3.OffPts.sum() , DR4.OffPts.sum()],
    'DPoss': [DR3.DefPoss.sum() , DR4.DefPoss.sum()],
    'OPPP': [DR3.OffPts.sum() *1. / DR3.OffPoss.sum() , DR4.OffPts.sum() * 1. / DR4.OffPoss.sum()],
    'DPPP': [DR3.DefPts.sum() *1. / DR3.DefPoss.sum() , DR4.DefPts.sum() * 1. / DR4.DefPoss.sum()],
    'DPts': [DR3.DefPts.sum() , DR4.DefPts.sum()]}).\
        set_index('Player')
DR = DR[['OPoss', 'OPts', 'OPPP', 'DPoss', 'DPts', 'DPPP']]

In [45]:
DR

            OPoss  OPts      OPPP  DPoss  DPts      DPPP
Player
Daniel_R_3    920   973  1.057609    915   884  0.966120
Daniel_R_4    437   489  1.118993    429   412  0.960373

In [46]:
DR5 = df[df.PlayerName == 'Daniel R']
DR5 = DR5[DR5.Position == 5]

In [50]:
MM3 = df[df.PlayerName == 'Mike']
MM3 = MM3[MM3.Position == 3]
MM4 = df[df.PlayerName == 'Mike']
MM4 = MM4[MM4.Position == 4]

In [51]:
MM = pd.DataFrame({'Player': ['Mike_3' , 'Mike_4'],
    'OPoss': [MM3.OffPoss.sum() , MM4.OffPoss.sum()],
    'OPts': [MM3.OffPts.sum() , MM4.OffPts.sum()],
    'DPoss': [MM3.DefPoss.sum() , MM4.DefPoss.sum()],
    'OPPP': [MM3.OffPts.sum() *1. / MM3.OffPoss.sum() , MM4.OffPts.sum() * 1. / MM4.OffPoss.sum()],
    'DPPP': [MM3.DefPts.sum() *1. / MM3.DefPoss.sum() , MM4.DefPts.sum() * 1. / MM4.DefPoss.sum()],
    'DPts': [MM3.DefPts.sum() , MM4.DefPts.sum()]}).\
        set_index('Player')
MM = MM[['OPoss', 'OPts', 'OPPP', 'DPoss', 'DPts', 'DPPP']]
MM

        OPoss  OPts      OPPP  DPoss  DPts      DPPP
Player
Mike_3    597   610  1.021776    599   585  0.976628
Mike_4    154   169  1.097403    151   166  1.099338

In [55]:
PR1 = df[df.PlayerName == 'Phil']
PR1 = PR1[PR1.Position == 1]
PR2 = df[df.PlayerName == 'Phil']
PR2 = PR2[PR2.Position == 2]
PR3 = df[df.PlayerName == 'Phil']
PR3 = PR3[PR3.Position == 3]

In [57]:
PR1.TotPoss.sum()

106

In [11]:
def separate(df , player, position):
    df = df.loc[(df.PlayerName == player) & (df.Position == position)]
    return df

In [19]:
separate(df,'Brayden',5)

,PlayerName,OffPoss,OffPts,OPPP,DefPoss,DefPts,DPPP,+/-,TotPoss,Position
ID,,,,,,,,,,
3,Brayden,31,41,1.322581,27,33,1.222222,8,58,5
13,Brayden,5,8,1.600000,5,10,2.000000,-2,10,5
20,Brayden,4,8,2.000000,4,6,1.500000,2,8,5
51,Brayden,1,0,0.000000,1,0,0.000000,0,2,5
52,Brayden,1,2,2.000000,1,2,2.000000,0,2,5
54,Brayden,1,3,3.000000,0,0,0.000000,3,1,5
56,Brayden,1,0,0.000000,1,0,0.000000,0,2,5
57,Brayden,10,14,1.400000,9,3,0.333333,11,19,5
62,Brayden,7,4,0.571429,7,8,1.142857,-4,14,5
91,Brayden,15,17,1.133333,14,21,1.500000,-4,29,5
...,...,...,...,...,...,...,...,...,...,...
172,Brayden,1,0,0.000000,3,4,1.333333,-4,4,5
244,Brayden,8,10,1.250000,8,6,0.750000,4,16,5
245,Brayden,1,0,0.000000,2,0,0.000000,0,3,5
248,Brayden,9,7,0.777778,10,8,0.800000,-1,19,5
264,Brayden,2,3,1.500000,1,0,0.000000,3,3,5
266,Brayden,1,2,2.000000,0,0,0.000000,2,1,5
270,Brayden,4,3,0.750000,3,3,1.000000,0,7,5
271,Brayden,7,9,1.285714,5,6,1.200000,3,12,5
285,Brayden,6,8,1.333333,6,6,1.000000,2,12,5
287,Brayden,3,6,2.000000,3,5,1.666667,1,6,5

In [29]:
X = df[ ['OPPP' , 'DPPP'] ]
X

          OPPP      DPPP
0     0.966102  0.928571
1     0.966102  0.928571
2     0.966102  0.928571
3     0.966102  0.928571
4     0.966102  0.928571
5     1.153846  0.866667
6     1.153846  0.866667
7     1.153846  0.866667
8     1.153846  0.866667
9     1.153846  0.866667
...        ...       ...
1425  1.000000  1.000000
1426  1.000000  1.000000
1427  1.000000  1.000000
1428  1.000000  1.000000
1429  1.000000  1.000000
1430  2.000000  1.666667
1431  2.000000  1.666667
1432  2.000000  1.666667
1433  2.000000  1.666667
1434  2.000000  1.666667

[1435 rows x 2 columns]

In [30]:
c = df.PlayerName

In [31]:
cs = pd.get_dummies(c, prefix = None)
cs.rename(columns = {'Daniel R':'DanielR' , 'Daniel S': 'DanielS'}, inplace = True)
cs.drop(['Chris','KJ','Kyle','Luke'],axis = 1, inplace = True)
cs

,Adam,Andrew,Brayden,Bryce,DanielR,DanielS,Evan,Justin,Mike,Phil,Travis
0,0,0,0,0,0,0,0,1,0,0,0
1,0,0,0,0,0,0,0,0,0,1,0
2,0,0,0,0,1,0,0,0,0,0,0
3,0,0,1,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,1
5,0,0,0,0,0,1,0,0,0,0,0
6,0,0,0,0,0,0,1,0,0,0,0
7,0,0,0,0,0,0,0,0,1,0,0
8,1,0,0,0,0,0,0,0,0,0,0
9,0,0,0,1,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...
1425,0,0,0,0,0,0,0,0,0,0,0
1426,0,0,0,0,0,0,0,0,0,0,0
1427,0,1,0,0,0,0,0,0,0,0,0
1428,0,0,0,0,1,0,0,0,0,0,0
1429,0,0,0,0,0,0,0,0,0,0,1
1430,0,0,0,0,0,1,0,0,0,0,0
1431,0,0,0,0,0,0,0,1,0,0,0
1432,0,0,0,0,0,0,0,0,1,0,0
1433,1,0,0,0,0,0,0,0,0,0,0
1434,0,0,1,0,0,0,0,0,0,0,0

In [11]:
print 'Adam', cs.Adam.sum()
print 'Andrew', cs.Andrew.sum()
print 'Brayden', cs.Brayden.sum()
print 'Bryce', cs.Bryce.sum()
print 'Chris', cs.Chris.sum()
print 'Daniel R', cs.DanielR.sum()
print 'Daniel S', cs.DanielS.sum()
print 'Evan', cs.Evan.sum()
print 'Justin', cs.Justin.sum()
print 'KJ', cs.KJ.sum()
print 'Kyle', cs.Kyle.sum()
print 'Luke', cs.Luke.sum()
print 'Mike', cs.Mike.sum()
print 'Phil', cs.Phil.sum()
print 'Travis', cs.Travis.sum()

Adam 120
Andrew 107
Brayden 104
Bryce 68
Chris 10
Daniel R 134
Daniel S 141
Evan 105
Justin 156
KJ 49
Kyle 43
Luke 22
Mike 132
Phil 148
Travis 96

In [25]:
model_DanielR = linear_model.LogisticRegression().\
    fit(X, cs.DanielR)

print model_DanielR.coef_
print model_DanielR.intercept_

[[-0.00157385 -0.08741535  0.02423981]]
[-2.19569684]

In [26]:
model_DanielR.score(X, cs.DanielR)

0.90662020905923346

In [32]:
cs['OPPP'] = X.OPPP
cs['DPPP'] = X.DPPP
cs

,Adam,Andrew,Brayden,Bryce,DanielR,DanielS,Evan,Justin,Mike,Phil,Travis,OPPP,DPPP
0,0,0,0,0,0,0,0,1,0,0,0,0.966102,0.928571
1,0,0,0,0,0,0,0,0,0,1,0,0.966102,0.928571
2,0,0,0,0,1,0,0,0,0,0,0,0.966102,0.928571
3,0,0,1,0,0,0,0,0,0,0,0,0.966102,0.928571
4,0,0,0,0,0,0,0,0,0,0,1,0.966102,0.928571
5,0,0,0,0,0,1,0,0,0,0,0,1.153846,0.866667
6,0,0,0,0,0,0,1,0,0,0,0,1.153846,0.866667
7,0,0,0,0,0,0,0,0,1,0,0,1.153846,0.866667
8,1,0,0,0,0,0,0,0,0,0,0,1.153846,0.866667
9,0,0,0,1,0,0,0,0,0,0,0,1.153846,0.866667
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1425,0,0,0,0,0,0,0,0,0,0,0,1.000000,1.000000
1426,0,0,0,0,0,0,0,0,0,0,0,1.000000,1.000000
1427,0,1,0,0,0,0,0,0,0,0,0,1.000000,1.000000
1428,0,0,0,0,1,0,0,0,0,0,0,1.000000,1.000000
1429,0,0,0,0,0,0,0,0,0,0,1,1.000000,1.000000
1430,0,0,0,0,0,1,0,0,0,0,0,2.000000,1.666667
1431,0,0,0,0,0,0,0,1,0,0,0,2.000000,1.666667
1432,0,0,0,0,0,0,0,0,1,0,0,2.000000,1.666667
1433,1,0,0,0,0,0,0,0,0,0,0,2.000000,1.666667
1434,0,0,1,0,0,0,0,0,0,0,0,2.000000,1.666667

In [52]:
y1 = cs.OPPP[cs['DanielR'] == 1].values
y2 = cs.OPPP[cs.DanielR == 0].values

In [53]:
t_val, p_val = ttest_ind(y1, y2)
print 't_test results:'
print 't-value', t_val
print 'p-value', p_val

t_test results:
t-value 0.765174740926
p-value 0.444293495225

In [47]:
def OPPPtest(player):
    y1 = cs.OPPP[cs[player] == 1].values
    y2 = cs.OPPP[cs[player] == 0].values
    t_val, p_val = ttest_ind(y1, y2)
    print 't_test results:'
    print 't-value', t_val
    print 'p-value', p_val

In [51]:
OPPPtest('Brayden')

t_test results:
t-value 1.37001626944
p-value 0.170896429213